<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% for (var i=0; i < categories.length; i++) { %>
                <li>
                    <strong>
                        <%= categories[i].name %>
                    </strong>
                </li>
                <% } %>
        </ul>
        <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
    </main>
    <%- include('partials/footer') %>